// Colores a usar.
$color-mapa: ("naranja": orange, "amarillo": yellow, "verde": green, "rojo": red, //
"cian": cyan, "blanco": white, "negro": black, "oliva": olive, "azul": blue, //
"violeta": violet, "lima": lime, "verdeMar": seagreen, //
"rosa": pink, "gris": grey);
//
$tono-mapa: ("": "", "Oscuro": dark, "Claro": light);
//
$grosor-mapa:("": normal, "-bold": bold, "-bolder": bolder, "-lighter": lighter);
//